body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: white;
    background-color: #2C3531;
    margin: 0;
    }

#title-container {
    text-align: center;
}

h1 {
    font-weight: 100;
    line-height: 1.2;
}

label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

#survey-form {
    border-style: solid;
    border-color: black;
    background-color: #116466;
    width: 33%;
    margin: auto;
    padding: 0.5rem;
    border-radius: 10px;
}

.form-control {
    display: flex;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid black;
    border-radius: 0.25rem;
    }

input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

textarea {
    min-height: 100px;
    width: 100%;
    border-radius: 5px;
    margin: 0 auto 0 auto;
    padding: 0.5rem auto 0 0;
    resize: vertical;
    font-family: inherit;
    font-size: inherit;
}

.form-container {
    width: 100%;
    margin: 2rem auto 1rem auto;    
}

.form-group {
    margin: 2.5rem auto 1.5rem auto;
    padding: 15px;
}

.submit-button {
    display: block;
    width: 100%;
    padding: .75rem;
    background: green;
    border-radius: 25px;
    cursor: pointer;
    color: white;
}