#main {
    background-color: #D1E8E2;
    text-align: center;
}

.jumbotron {
    text-align: center;
    background-color: #FFCB9A;
    width: 100%;
}

.container {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
  }

#img {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    padding: 50px;
}